.progressBar {
    height: 7px;
    background-color: #0d6efd;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 9999;
}

.default {
    background-color: #0d6efd;
}

.accent {
    background-color: #DC2626;
}

.small {
    height: 2px;
}

.medium {
    height: 7px;
}

.big {
    height: 10px;
}
