.button {
    font-size: 14pt;
}

.small {
    font-size: 12pt;
}

.medium {
    font-size: 15pt;
}

.big {
    font-size: 19pt;
}

.light {
    color: black;
    background-color: white;
}

.dark {
    color: white;
    background-color: black;
}
