.section {
    display: inline-block;
    margin-right: 15px;
}
.sectionNonActive {
    text-decoration: underline;
    display: inline-block;
    margin-right: 15px;
}

.sectionActive {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
}